#
# Phy drivers for Vatics platforms
#

menu "VATICS PHY driver"
	depends on PHY && ARCH_VATICS

config PHY_VATICS_LEIPZIG_USB3
	bool "VATICS Leipzig USB3 PHY Driver"
	depends on PHY && ARCH_VATICS
	help
	  Enable this to support the VATICS Leipzig USB3 PHY.

config PHY_VATICS_LEIPZIG_USB2
	bool "VATICS Leipzig USB2 PHY Driver"
	depends on PHY && ARCH_VATICS
	help
	  Enable this to support the VATICS Leipzig USB2 PHY.

endmenu
