// SPDX-License-Identifier: GPL-2.0-only
/*
 *
 * Copyright (C) 2023 VATICS Inc.
 *
 */
/dts-v1/;

/* reserved memory definitions */
#define SECURE_MEM_BASE 4000000
#define SECURE_MEM_SIZE 0x1000000
#define VQ7_MEM_BASE 5000000
#define VQ7_MEM_SIZE 0x1FFF000
#define VQ7_LOG_MEM_BASE 6FFF000
#define VQ7_LOG_MEM_SIZE 0x1000
#define RTOS_MEM_BASE 7000000
#define RTOS_MEM_SIZE 0x400000
#define EDMC_MEM_BASE D400000
#define EDMC_MEM_SIZE 0x32C00000

#include <dt-bindings/gpio/gpio.h>
#include "leipzig.dtsi"
#include "leipzig-evm-pinctrl.dtsi"
#include "leipzig_parallel_sensor.dtsi"
#include "leipzig_mipi_sensor.dtsi"

/ {
	soc {
		eqos: dweqos@c4000000 {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&eqosc_pins>;
		};
	};
};

&pinctrl {
	state_default: pinmuxing {
		monitor_clk_pins: monitor_clk {
			/delete-property/  function;
			/delete-property/  groups;
		};
	};

	gyro_pins: gyro {
		function = "gpio0";
		groups = "gpio0_data19";
	};
};

&spi0 {
	status = "okay";
	rx-sample-delay-ns = <10>;
	pinctrl-names = "default";
	pinctrl-0 = <&ssic0_quad_pins>;
	/delete-property/ cs-gpios;
	spi_nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
		reg = <0>;
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		spi-cpha;
		spi-cpol;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			/*BL2 + BL31*/
			partition@0 {
				label = "BLX";
				reg = <0x00000000 0x00140000>;
			};
			partition@1 {
				label = "env";
				reg = <0x00140000 0x00080000>;
			};
			partition@2 {
				label = "dtb";
				reg = <0x001C0000 0x00080000>;
			};
			partition@3 {
				label = "Kernel";
				reg = <0x00340000 0x01280000>;
			};
			partition@4 {
				label = "Rootfs";
				reg = <0x01DC0000 0x01800000>;
			};
			partition@5 {
				label = "Ubifs";
				reg = <0x035C0000 0x0CA40000>;
			};
			partition@6 {
				label = "U-Boot";
				reg = <0x00240000 0x00100000>;
			};
			partition@7 {
				label = "OP-TEE";
				reg = <0x015C0000 0x00800000>;
			};
		};
	};
};

&spi1 {
	status = "okay";
	rx-sample-delay-ns = <10>;
	pinctrl-names = "default";
	pinctrl-0 = <&ssic1_pins>;
	/delete-property/ cs-gpios;
	spi_nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		m25p,fast-read;
		spi-cpha;
		spi-cpol;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			partition@0 {
				label = "U-Boot";
				reg = <0x00000000 0x00140000>;
			};
			partition@1 {
				label = "env";
				reg = <0x00140000 0x00040000>;
			};
			partition@2 {
				label = "dtb";
				reg = <0x00180000 0x00010000>;
			};
			partition@3 {
				label = "Kernel";
				reg = <0x00190000 0x002e0000>;
			};
			partition@4 {
				label = "Rootfs";
				reg = <0x00470000 0x00470000>;
			};
			partition@5 {
				label = "Jffs2";
				reg = <0x008e0000 0x00720000>;
			};
		};
	};
};

&sound {
	status = "okay";
	/* Pin Control */
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_slave_pins>;
	//pinctrl-0 = <&i2s_master_pins>;
	//pinctrl-0 = <&i2s_tx_slave_pins>, <&adcd_pdm_pins>;
	//pinctrl-0 = <&i2s_tx_master_pins>, <&adcd_pdm_pins>;
	/* Codec Application Combination */
	/* (I) Use internal codec only */
	compatible = "vtx,evm-machine";
	/* (II) Use external codec only */
	//compatible = "vtx,evm-ssm2603-machine"; /* SSM2603 */
	/* (III) Both use internal and external codecs */
	//compatible = "vtx,evm-inno-ssm2603-machine"; /* INNOSILICON and SSM2603 */
};

&inno_acdc {
	status = "okay";
	/* Digital Microphone */
	//adcdcc-pdm;
	//pdm-gain = <3>;
	/* MONO mode */
	adc-mono = <0>; /* MIC IN - 0: stereo in, 1: left channel in, 2: right channel in */
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_p0_s0_pins>;
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-1 = <&i2c0_gpio_pins>;
	scl-gpios = <&gpio2 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	/* HDMI Transmitter device: AD ADV7513 */
	adv7513@39 {
		compatible = "adi,adv7513";
		reg = <0x39>;
	};
	/* Audio Codec device: AD SSM2603 */
	ssm2603@1a {
		status = "okay";
		compatible = "wlf,ssm2603";
		reg = <0x1a>;
	};
	mpu6050:mpu6050@69 {
		status = "okay";
		compatible = "invensense,icm43600";
		reg = <0x69>;
		interrupt-parent = <&gpio0>;
		interrupts = <19 IRQ_TYPE_EDGE_RISING>;
		pinctrl-names = "default";
		pinctrl-0 = <&gyro_pins>;
		mount-matrix = "1",                   /* x0 */
				"0",                   /* y0 */
				"0",                   /* z0 */
				"0",                   /* x1 */
				"1",                   /* y1 */
				"0",                   /* z1 */
				"0",                   /* x2 */
				"0",                   /* y2 */
				"1";                   /* z2 */
		#io-channel-cells = <1>;
		axis_map_x = <0>;
		axis_map_y = <1>;
		axis_map_z = <2>;
		negate_x = <0>;
		negate_y = <0>;
		negate_z = <0>;
		inven,secondary_type = "none";
		inven,aux_type = "none";
		inven,read_only_slave_type = "none";
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c1_p1_pins>;
	pinctrl-1 = <&i2c1_p1_gpio_pins>;
	scl-gpios = <&gpio2 30 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 31 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

&i2c2 {
	status = "disable";
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c2_p1_pins>;
	pinctrl-1 = <&i2c2_p1_gpio_pins>;
	scl-gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&voc0 {
	status = "okay";
};

&voc1 {
	status = "okay";
};

&vic {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&vic0_pins>;
};

/* usb3 */
&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";

	/* tx-fifo-resize; */
	/* tx-fifo-max-num = /bits/ 8<0x10>; */

	/* enable usb-role-switch */
	/* usb-role-switch; */
	/* connector { */
	/* compatible = "gpio-usb-b-connector", "usb-b-connector"; */
	/* type = "micro"; */
	/* label = "micro-USB"; */
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&usb30_pins>; */
	/* id-gpios = <&gpio1 25 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; */
	/* }; */
};

&usb3_phy {
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	status = "okay";

	/* enable usb-role-switch */
	/* usb-role-switch; */
	/* connector { */
	/* compatible = "gpio-usb-b-connector", "usb-b-connector"; */
	/* type = "micro"; */
	/* label = "micro-USB"; */
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&usb20_pins>; */
	/* id-gpios = <&gpio1 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; */
	/* }; */
};

&usb2_phy {
	status = "okay";
};
&mmc0 {
	status = "okay";
	//bus-width = <8>;
	bus-width = <4>;
	phy-clkdl = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&mshc_pins>;
};

//&mmc1 {
//    status = "okay";
//    phy-clkdl = <0>;
//};

&io_voltage {
	status = "okay";
	/*3300000, 2500000, 1800000*/
	pd1-default = <3300000>;
	pd5-default = <1800000>;
	pd6-default = <3300000>;
	pd9-default = <3300000>;
	pd10-default = <3300000>;
	pd11-default = <3300000>;
	pd13-default = <3300000>;
};

&pmu {
	status = "okay";

	rtc: sgc-rtc@0 {
		/*alarm = <&gpio2 14 0>;*/
	};
};
